<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
TEST
<button type="button" id="ClickMe">Click Me1</button>
<button type="button" id="ClickMe2">Click Me2</button>

</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    var add = function (a,b) {
        return a+b;
    };

    alert(add("aa","bb"));

    document.getElementById('ClickMe').addEventListener("click", function(){ alert("Clicked"); });

</script>

</html>