<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var map
    var markers = [];

    function afterTimeout(){
        var myLatLng2 = {lat: -24.363, lng: 131.044};

        setMapOnAll(null);

        addMarker(myLatLng2,"point2")
    }
    // Adds a marker to the map and push to the array.
    function addMarker(location,text) {
      var marker = new google.maps.Marker({
        position: location,
        map: map,
          title:text
      });
      markers.push(marker);
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

function initialize() {
    var myLatLng = {lat: -25.363, lng: 131.044};

  var mapProp = {
    center:myLatLng,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };

    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    addMarker(myLatLng,"Hello world")

    

    //alert("first message")
    setTimeout( afterTimeout, 3000 );

}
google.maps.event.addDomListener(window, 'load', initialize);


</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>
</body>

</html>